---
import Section from "../Section.astro";
import { courses } from "@cv";
---

<Section title="Cursos" translationKey="sections.courses">
  <ul class="mb-4 flex flex-col gap-4">
    {
      courses.map(({ platform, summary, typePlatform }, index) => {
        return (
          <li>
            <article class="item-card">
              <header>
                <h3 class="item-title">{platform}</h3>
                <p class="item-subtitle mt-2 text-base font-semibold" data-i18n={`courses.items.${index}.typePlatform`}>
                  {typePlatform}
                </p>
              </header>
              <footer>
                <p class="item-copy" data-i18n={`courses.items.${index}.summary`}>{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
