---
import Section from "../Section.astro";
import { courses } from "@cv";
---

<Section title="Cursos" translationKey="sections.courses" sectionId="courses">
  <ul class="flex flex-col gap-4 mb-4">
    {
      courses.map(({ platform, summary, typePlatform }, index) => {
        return (
          <li>
            <article>
              <header class="flex">
                <div>
                  <h3 class="font-bold mt-2 text-gray-500 dark:text-gray-400 text-xl font-sans">{platform}</h3>
                  <p class="font-semibold text-gray-400 dark:text-gray-500 text-base" data-i18n={`courses.items.${index}.typePlatform`}>{typePlatform}</p>
                </div>
              </header>
              <footer>
                <p class="text-sm mt-2 dark:text-gray-300" data-i18n={`courses.items.${index}.summary`}>{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
